################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevOpsDemo/.vs/DevOpsDemo
/DevOpsDemo/packages
/DevOpsDemo.Data/obj
/DevOpsDemo/DevOpsDemo.Web.Tests/obj/Debug
/DevOpsDemo.Web/obj/Debug
